.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #ff7e1b;
  --pale-orange: #ffeee2;
  --light-grey-blue: hsl(223, 64%, 98%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grey-blue: hsl(219, 9%, 45%);
  --grey-blue: hsl(220, 14%, 75%);
  --fs-12: 0.75rem;
  --fs-15: 0.9375rem;
  --fs-18: 1.125rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;

  --fw-400: 400;
  --fw-700: 700;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  max-width: 1100px;
  margin: 0 auto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.25em 1.5em 0 1.5em;
  margin-bottom: 2.25em;
}

.nav {
  min-height: 100vh;
  width: calc((2 / 3) * 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.5625em;
  transform: translateX(-100%);
  transition: all ease-in-out 0.2s;
}

.nav--shown {
  transform: translateX(0%);
}

.nav img {
  margin-bottom: 67px;
}

.nav-list {
  flex-direction: column;
  padding: 0;
  gap: 1.25rem;
}

.menu-button {
  width: 1em;
  height: 1em;
}

.header-left {
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  opacity: 0;
  display: none;
  transition: all 0.2s ease-in-out;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-profile-container {
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  position: relative;
}

.avatar,
.cart {
  cursor: pointer;
}

.avatar:hover {
  border: 1px solid var(--orange);

}

.item_number {
  position: absolute;
  background-color: var(--orange);
  color: var(--white);
  top: -35%;
  right: -35%;
  font-size: 0.625rem;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 9px;
  width: 19px;
  text-align: center;
}

.item_container {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #69707D;
  font-size: 1rem;
  font-weight: var(--fw-400);
}

.cart_thumb {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.cart-icon-container {
  position: relative;
}

.shopping__cart_window {
  position: absolute;

  background-color: white;
  filter: drop-shadow(0px 4px 4px #00000040);
  transform: scale(0);
  transition: all ease-in-out 0.2s;
}

.shopping__cart_window {
  min-width: 360px;
  left: -74vw;
  top: 30vw;
  z-index: 5;
  height: 256px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

}

.shopping__cart_window>p {
  padding: 1.5em;
}

.cart-contents {
  padding: 1.5em;
  border-top: solid 1px #E4E9F2;
  width: 100%;
  flex-grow: 1;
  display: grid;
  place-items: center;

}

.empty-cart {
  color: #69707d;
}

.shopping_cart_window--show {
  transform: scale(1.0)
}

.cart-profile-container .avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.overlay--shown {
  display: block;
  opacity: 0.75;
}

.product {
  padding: 1.5em;
  flex-direction: column;
  justify-content: space-around;
}

.product-type {
  margin-bottom: 1em;
  font-size: var(--fs-28);
}

.product-description {
  color: var(--dark-grey-blue);
  font-size: 1rem;
  font-weight: var(--fw-400);
  margin-bottom: 1.75em;
}

.cart_item_price_total {
  font-weight: var(--fw-700);
  color: #1D2026;
  margin-left: 3px;
}

.checkout_button {
  background-color: var(--orange);
  border: none;
  width: 100%;
  padding: 0.75em 0;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  font-weight: var(--fw-700);
  cursor: pointer;
}

.pricing-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.625em;
}

.pricing-container div {
  display: flex;
  gap: 1.5em;
}

.current-price {
  font-size: var(--fs-28);
}

.discount {
  color: var(--orange);

  background-color: var(--pale-orange);

  border-radius: 6px;
  padding: 0.5em 0.5em 0.25em 0.5em;
}

.list-price {
  text-decoration: line-through;
}

.count-container {
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-grey-blue);
  padding: 1.625em 1.5em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.slide-div {
  position: relative;
  display: flex;
  max-width: 445px;
  flex-direction: column;
  gap: 2em;
  justify-content: center;

}

.thumb__container {
  display: none;
}

.slide-div::-webkit-scrollbar {
  height: 0;
}

.slide-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 1em;

}

.slide-button-container {
  position: absolute;
  align-self: center;
  width: 100%;
  max-width: 445px;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.slide-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.previous-slide {
  background: url("./images/icon-previous.svg") var(--white);
  background-repeat: no-repeat;
  background-position: center;
}

.next-slide {
  background: url("./images/icon-next.svg") var(--white);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-div {
  display: none;
}

.minus,
.plus {
  cursor: pointer;
}

.add-to-cart {
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: center;
  padding: 1.625em 1.5em;
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0px 20px 50px -20px #ff7e1b;
  cursor:pointer;
  transition:opacity ease-in-out 0.2s;
}
.add-to-cart:hover{
  opacity: 0.8;
}
.add-to-cart svg {
  fill: var(--white);
}

.company-name {
  margin-bottom: 1.25em;
}

/*UTILS*/

.flex {
  display: flex;
}

.flex-gap-16 {
  gap: 1em;
}

.flex-gap-20 {
  gap: 1.25rem;
}

.fc-orange {
  color: var(--orange);
}

.fc-grey-blue {
  color: var(--grey-blue);
}

.fc-dark-grey-blue {
  color: var(--dark-grey-blue);
}

.fc-very-dark-blue {
  color: var(--very-dark-blue);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fs-12 {
  font-size: var(--fs-12);
}

.fs-15 {
  font-size: var(--fs-15);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-26 {
  font-size: var(--fs-26);
}

@media (min-width: 900px) {
  .header {
    display: flex;
    border-bottom: 1px solid var(--grey-blue);
    padding-left: 0;
  }

  .nav {
    min-height: auto;
    position: relative;
    transform: none;
    box-shadow: none;
  }

  .nav .close-menu {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    gap: 2em;
  }

  .menu-button {
    display: none;
  }

  .nav-link {
    cursor: pointer;
    font-size: var(--fs-15);
    color: var(--grey-blue);
  }

  .nav-link::after {
    content: " ";
    width: 100%;
    transform: scale(0);
    position: relative;
    top: 41px;
    height: 4px;
    display: block;
    background-color: var(--orange);
    transition: all ease-in-out 0.2s;
  }

  .nav-link:hover {
    color: var(--dark-grey-blue);
  }

  .nav-link:hover::after {
    transform: scale(1);
  }

  .main {
    display: flex;
  }

  .slide-container {
    border-radius: 15px;
  }

  .slide-button-container {
    display: none;
  }

  .thumb__container {
    display: flex;
    gap: 2em;

  }

  .thumb_image {
    width: 88px;
    border-radius: 15px;
    cursor: pointer;
  }

  .current__thumb {
    opacity: 0.8;
    border: solid 2px var(--orange);

  }

  .main {
    gap: 7em;
    padding: 0 1em;
    margin-bottom: 3em;
  }

  .shopping__cart_window {
    min-width: 360px;
    top: calc(100% + 1.3125em);
    z-index: 5;
    height: 256px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    left: auto;
  }

  .product {
    padding: 0;
  }
  .cart-container{
    display:flex;
    justify-content: space-between;
    gap:1em;

  }
  .add-to-cart{
    width:50%;
    padding:1.375em 0;
    align-items: center;
  }
  .count-container{
    width:50%;
  }
}